/*
Author: Lizeth yaneirahernandez
Date: March 5 2022
File Name: style.css
*/

/*CSS reset*/
body, header,nav,main,footer,img,h1{
  margin:0;
  padding: 0;
  border:0;

}

/*stylerule for images*/
img{
  max-width:100%
  displa:block;
}
/*style rule for mobile viewport*/


/*Hide tab-desk class*/
.tab-desk{
  display: none;
}
/*Style rule for header content*/
header{
  text-align: center;
  font-size: 1.5em;
  color:#373684;
}

header h1{
  font-style:font-family: 'DM Serif Display', serif;
}

/*style rule for navigation area*/
nav{
  background-color: #373684;
}
nav ul{
  list-style-type:none;
  margin:0;
  text-align: center;
}

nav li{
  display:block;
  font-size: 2em;
  border-top: 1px solid #e5e9fc;
}

nav li a{
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
}


/*style rules for main content*/
main{
  padding: 2%;
  background-color: #e5e9fc;
  overflow: auto;
  font-family:font-family: 'Roboto', sans-serif;
}

main p {
  font-size: 1.25em;
}
.action{
  font-size: 1.25em;
  color: #373684;
  font-weight: bold;
}
#Piano, #Guitar, #Violin{
  margin: 0 2%;
}

#info{
  clear:left;
  background-color: #c0caf7;
  padding: 1% 2%;
}


.round{
  border-radius: 8px;
}

#contact{
  text-align: center;
}

.tel-link{
  background-color: #373684;
  padding: 2%;
  margin:0 auto;
  width: 80%;
  text-align: center;
  border-radius: 5px;
  color:#ffffff;
  text-decoration: none;
  font-size: 1.5em;
  display:block;
}

#contact .email-link {
  color: #4645a8;
  text-decoration: none;
  font-weight: bold;
}

.map{
  border: 5px solid #373684;
  width: 95%;
  height:50%;
}



/*Style rules for footer content*/
footer{
  text-align: center;
  font-size: 0.65em;
  clear: left;
}

footer a{
  color:#4645a8;
  text-decoration: none;
}
